
<!-- S T Y L E    C H O I C E S
    -   Import Roboto Mono font from Google as a replacement of Helvetica
 -->

<style xmlns:padding="http://www.w3.org/1999/xhtml">
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
    body{
        margin:0;
    }
    .Canvas-Wrapper{
        overflow: hidden;
        width: 80%;
        height: 100%;
        background-color: rgba(0,0,0,0);
        padding: 20px 35px 20px 20px;
    }

    .Slider{
        width: 70%;
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        background: rgba(0, 0, 0, 0.7); /* Grey background */
        border-radius: 15px;
        height: 10px;
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .Slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 30px; /* Set a specific slider handle width */
        height: 30px; /* Slider handle height */
        border-radius: 100px;
        background: white; /* Green background */
        border: 3px solid rgba(0,0,0,0.7);
        cursor: pointer; /* Cursor on hover */
    }

    .Slider::-moz-range-thumb {
        width: 30px; /* Set a specific slider handle width */
        height: 30px; /* Slider handle height */
        border-radius: 100px;
        background: white; /* Green background */
        cursor: pointer; /* Cursor on hover */
        border: 3px solid rgba(0,0,0,0.7)
    }
</style>

<div style="
    border: 3px solid black;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
">

<div>
    <label for="myRange" >
        <input class="Slider" type="range" min="0" max="100" value="0" id="myRange"
        oninput="handleWienerProcessSliderChange()">
    </label>
</div>

<div>
    <input type="checkbox" id="showOnlyWienerProcess" name="showOnlyWienerProcess">
    <label for="showOnlyWienerProcess"> Show only Wiener Process</label><br>
</div>

<div id="clock-div">⏰Value: </div>

<script>

    /*
    * This script implements:
    *
    * Integrated Wiener Process
    * gamma = eta * t^2 + u(t=0)*t.
    * u is given by u_dot = eta and u(t=0) is chosen to be 0.1
    *
    * Wiener Process
    * gamma = eta * t
    *
    * */

    function generateRandomGaussian() {
        let u = 0, v = 0;
        while(u === 0) u = Math.random(); // Converting [0,1) to (0,1)
        while(v === 0) v = Math.random();
        return Math.sqrt(-2.0 * Math.log(u)) * Math.cos(2.0 * Math.PI * v);
    }

    let clockDiv = document.getElementById("clock-div")
    let slider = document.getElementById("myRange")
    const checkBox = document.getElementById("showOnlyWienerProcess")
    function handleWienerProcessSliderChange(){
        const t = slider.value
        const u0 = .1
        const eta = generateRandomGaussian()

        const y = eta * t**2 + u0*t
        const y2 = eta * t

        clockDiv.textContent = "⏰Value: " + t.toString()

        if (!checkBox.checked){
            myChart.data.datasets[0].data.push(y)
        }
        myChart.data.datasets[1].data.push(y2)
        myChart.data.labels.push(t)
        myChart.update()
    }
</script>



<!-- I M P O R T S
    -   Import Chart.js
    -   Import PolyLib.js which is necessary for displaying the polynomial functions in the chart
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<!-- I N I T I A L I Z E    H T M L    C A N V A S    A N D    W R A P P E R
-->
<div class='Canvas-Wrapper' style="height:500px">
    <canvas id="myChart"></canvas>
</div>

</div>

<!-- C H A R T . J S    C O D E
-->
<script>
    /*
      D E C L A R A T I O N    O F    G L O B A L    V A R I A B L E S
    */
    var universalXarray = []


    /*
      I M P O R T A N T    H E L P E R    F U N C T I O N S
    */




    /* Creates a step-evenly-spaced object of rounded floats (2 decimal places) going from 'start' to 'stop'. */
    function roundedFloatArray(start,stop,step){
        return Array.from({length:(stop-start)/step+1},(value,index)=> Math.round((start+index*step + Number.EPSILON) * 100) / 100)
    }


    /**
     * This function takes two arguments, 'base64' which is the base-64 encoded image of the displayed chart and 'browser', a string indicating whether
     * the browser is chromium or non-chromium based. The base64 data is constructed via the 'post_base64_data_to_velo()' function in this html code,
     * which sends the information back to WIX Velo, which in return sends the base64 information as well as browser client information back to this html
     * code, executing the function below (redundant workflow!).
     * The image data is then downloaded by creating an anchor element and bestowing the 'href' attribute with the base64 string and simulating a click on
     * the anchor element. In case the browser is chrome, the base64 data is converted to binary data, which is transformed into an array of byte array via
     * iterating over the data in chunks of 1024 characters. A blob is constructed from the array of byte arrays and a blob URL is created and opened in a new
     * window via 'window.open'.
     * @param {boolean} isChromium - Whether the type of browser is chromium-based or not.
     */

    function download_png(isChromium){

        const base64 = myChart.toBase64Image()

        if (isChromium===false){
            let a = document.createElement('a');
            a.target="_blank";
            a.href = base64;
            a.download = 'pv_power.jpg';
            a.click();
        }

        else{


            const base64ImageData = base64
            const contentType = 'image/png';

            const byteCharacters = atob(base64ImageData.substr(`data:${contentType};base64,`.length));
            const byteArrays = [];

            for (let offset = 0; offset < byteCharacters.length; offset += 1024) {
                const slice = byteCharacters.slice(offset, offset + 1024);

                const byteNumbers = new Array(slice.length);
                for (let i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);}


                const byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

            const blob = new Blob(byteArrays, {type: contentType});
            const blobUrl = URL.createObjectURL(blob);
            window.open(blobUrl, '_blank');
        }}

    /**
     * Creates the base64 data of the chart image via calling the 'toBase64Image()' method on the chart.JS instance.
     * The base64 data is needed to download the current chart image via the 'download_png()' function. The base64 data
     * is sent to WIX velo which gathers some browser information and reports back to this html code (redundant workflow.)
     *
     * SECURITY NOTE: the second argument of 'postMessage' has to be the deployed webpage URL.
     *
     */
    function post_base64_data_to_velo(){
        window.parent.postMessage(myChart.toBase64Image(),"https://www.solarbildung.org/live-solar-data")
    }


    /* C H A R T    A N D    S T Y L E    C O N F I G U R A T I O N */


    Chart.defaults.global.defaultFontFamily = "Roboto Mono";
    const gray = '#d9dada'
    const tourquoise = '#d4ecf5'
    const yellow = '#efe867'
    const red = 'rgb(236, 95, 91)'
    const transparent_red = 'rgb(236, 95, 91, 0.2)'
    const green = 'rgb(0,229,0)'
    const transparent_green = 'rgb(0,229,0, 0.2)'
    const blue = '#4863A0'
    const transparent_blue = 'rgb(72,99,160,0.5)'

    let my_labels = [0.00082, 0.19082, 0.38082, 0.5708200000000001, 0.76082, 0.95082, 1.1408200000000002, 1.3308200000000001, 1.52082, 1.71082, 1.90082, 2.09082, 2.2808200000000003]
    const ctx = document.getElementById('myChart');


    var myChart = new Chart(ctx, {

        type: 'bar',
        data: {
            datasets: [
                {
                    type: 'line',
                    fill: false,
                    showLine: true,
                    label: "Integrated Wiener Process",
                    borderColor : blue,
                    backgroundColor: transparent_blue,
                    borderWidth: 2,
                    borderSkipped: false,
                    data: []
                },
                {
                    type: 'line',
                    fill: false,
                    showLine: true,
                    label: "Wiener Process",
                    borderColor : red,
                    backgroundColor: transparent_red,
                    borderWidth: 2,
                    borderSkipped: false,
                    data: []
                },
            ],

            labels: [],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: 0
            },
            chartArea: {
                backgroundColor: 'rgba(255, 255, 255, 0)'
            },
            title: {
                display: true,
                text: '',
                position: 'left',
                fontColor: 'black',
                fontStyle: "",
                fontSize: 15,
            },
            legend: {
                display: true,
                position: 'top',
                labels: {
                    fontColor: 'black',
                    fontStyle: "",
                    fontSize: 10,
                }
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem) {
                        const datasetIndex = tooltipItem.datasetIndex
                        const datasetName = myChart.data.datasets[datasetIndex].label
                        return tooltipItem.yLabel.toFixed(2).toString() + ' value for ' + datasetName
                    },
                },
                mode: 'index',
                intersect: false

            },
            hover: {
                mode: 'index',
                intersect: false
            },
            scales:{
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontSize: 10,
                        fontColor:  'black',
                        fontStyle: "",
                        padding:15,
                    },
                    gridLines: {
                        drawTicks: false,
                        color: 'rgba(0,0,0,.1)',
                    },
                    scaleLabel:{
                        display:true,
                        labelString:"Probability",
                        fontColor: 'black',
                    }
                }],
                xAxes: [{
                    position: 'bottom',
                    ticks: {
                        beginAtZero: true,
                        autoSkip : true,
                        maxTicksLimit: 15,
                        fontSize: 10,
                        fontColor: 'black',
                        fontStyle: "",
                        padding:15,
                        callback: function(value,index,ticks){
                            return value
                        }
                    },
                    gridLines: {
                        drawTicks: false,
                        color: 'rgba(0,0,0,0)',
                    },
                    scaleLabel:{
                        display:true,
                        labelString: "Passage of time",
                        fontColor: 'black',
                    }
                }],
            },
        }
    });



    /* W I X    V E L O    H T M L    C O M M U N I C A T I O N */



    window.onmessage = function(event){

        // All messages arriving should be in this format: $w("#ChartJsDaily").postMessage( [ 'Download Png.', [ true ] ] )

        const keywordToLabelDict = {
            Distance: 'Gelaufene Distanz [km]',
            AverageWeight: 'Durchschnittliches Gewicht [kg]',
            NumOfParticipants: 'Anzahl der Teilnehmer',
            AverageTimeNeeded: 'Benötigte Zeit [h]'
        }

        const keywordToUnitsDict = {
            Distance: ' km',
            AverageWeight: ' kg',
            NumOfParticipants: ' ',
            AverageTimeNeeded: ' h'
        }

        let command = event.data[0]
        let context = event.data[1]


        if (command === 'Download Png.'){
            const isChromium = context[0]
            download_png(isChromium)
        }
        else if (command === 'Update time and energy values.'){
            const xValues = context[0]
            const yValues = context[1]
            const labelTip = keywordToLabelDict[context[2]]
            const xUnit = keywordToUnitsDict[context[2]]

            myChart.data.labels = xValues
            myChart.data.datasets[0].data = yValues
            myChart.options.scales.xAxes[0].scaleLabel.labelString = labelTip
            myChart.options.tooltips.callbacks.afterLabel = function(tooltipItem) {
                return tooltipItem.xLabel + xUnit
            }
            myChart.update()
        }
        else if (command === "Clear all."){
            try {
                // Clear all data if exists
                for (let dataset in myChart.data.datasets){
                    dataset.data = []
                    myChart.update()
                }
            }
            catch (error){
                // pass if they don't exist
            }

        }
    }


</script>





